*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{

    width: 100%;
    height: 100%;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;

}
nav{  
    top: 0%;
    z-index: 1000;
    position: sticky;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
nav .logo{ 
   
    padding: 10px;  
    color: rgb(10, 10, 10); 
    font-size: 25px;
    
}
nav ul{
    
    display: flex;
    align-items: center;
    list-style: none;
    
    
}

nav li a{    
    padding: 10px;
    
    text-decoration: none;
    color: rgb(14, 14, 14);
    border-radius: 5px;
    font-size: 20px;
   

    
}
nav li a:hover{
    color: white;
    background-color: rgb(18, 17, 18);
    

}

nav .social-icons{
    display: flex;
    padding: 10px;
    gap: 15px;
    align-items: center;
    margin-top: 5px;
    margin-right: 5px;
    

}
nav .social-icons a{

    
    width: 25px;
    height: 25px;
   
      
}
nav .social-icons a:hover{

  transform: scale(1.5);
  
  
      
}
.Home{    
    text-align: center;
    margin: 5px 0px 0px 5px;
    width: 100%;
    background: linear-gradient(to right, #3cb0ef, #5788cd);
    height: 100vh;
    color: white;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.Home h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 65px;
    margin-bottom: 20px;
}
.Home h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
#greetings{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    transition: 0.3s ease-out;
    font-size: 20px;
}

.callToaction{
    
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 70px;
    
    

}
.callToaction button{
    
    height: 50px;
    width: 150px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;    
    transition: all 0.3s ease;
    cursor: pointer;
}
.callToaction button:hover{
    background-color: #04AA6D; 
    color: white;
    box-shadow:1px 1px 10px rgb(214, 214, 214) ;
    transform: scale(1.05);
    

}

.Cv{
     border: none;
     background-color:white;
     height: 30px;
}
.Con{
   border: none;; 
    
   
    

}
.About{
    
    text-align: center;
    margin: 0px 0px 0px 5px;
    background: linear-gradient(to left, #7603d490, #22013d);
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    overflow: hidden;
}
 .About img{
    width: 50%;
    height: 100%;   
    border-radius: 75%;  
    transition: all ease 1sec;
    max-width: 100%;
}
.About img:hover{
    scale:1.2;
}
.About .abouttext{
    display: flex;
    width: 45%;
    margin-right: 20px;
    word-spacing: 10%;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    padding-bottom: 30px;
    line-height: 1.6;

}
.Projects{
    text-align: center;
    margin: 0px 0px 0px 5px;
    background-color: rgb(199, 171, 161);
    height:fit-content;

}
.Contact{
    text-align: center;
    margin: 0px 0px 0px 5px;
    background-color: beige;
    height: fit-content;
}
@media (max-width:600px) {
    nav{
        width: 100%;
        background-color: rgb(255, 255, 255);
        flex-direction: column;
       align-items: flex-start;
       height: auto;
    }
    nav .logo{
        
        display: none;
    }
    nav ul{
        flex-direction: column;
        gap: 10px;
        margin-left: 5px;
    }
    nav li a:hover{
       text-decoration: underline; 
       color: black;
       background-color: white;
        

    }
    nav .social-icons{
       margin: 5px;
    
    }
    #greetings{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        transition: 0.3s ease-out;
        font-size: 20px;
    }
    .callToaction button{
    
        height: 50px;
        width: 150px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;    
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .callToaction button:hover{
        background-color: #04AA6D; 
        color: white;
        box-shadow:1px 1px 10px rgb(214, 214, 214) ;
        transform: scale(1.05);
        
    
    }
    
    .Cv{
         border: none;
         background-color:white;
         height: 30px;
    }
    .Con{
       border: none;; 
        
       
        
    
    }
   
   

}
